node_modules/
lib/
package-lock.json
_build
.merlin
.bsb.lock
*.install
esy.lock
scratch/
.vscode/
_opam/
*.coverage
_coverage/
_esy/
.DS_Store
doc/website/build
doc/website/i18n/*
test/bundle/*.js
test/bundle/*.js.gz
promise-*
_release
